<footer class="footer">
  <div class="container">
    <div class="footer__grid">
      <div class="footer__brand footer__col">
        <img src="assets/images/AIMAX LOGO-02.png" alt="AIMAX Berhad" class="footer__logo" />
      </div>

      <div class="footer__about footer__col">
        <h4 class="footer__heading">About Us</h4>
        <ul class="footer__list">
          <li><a routerLink="/about">Corporate Overview</a></li>
          <li><a routerLink="/about/board-of-directors">Board of Directors</a></li>
          <li><a routerLink="/about">Corporate Structure</a></li>
        </ul>
      </div>

      <div class="footer__businesses footer__col">
        <h4 class="footer__heading">Our Businesses</h4>
        <ul class="footer__list">
          <li><a routerLink="/businesses/gloves/nitrile">Gloves Manufacturing</a></li>
          <li><a routerLink="/businesses/healthcare">Healthcare</a></li>
          <li><a routerLink="/businesses/financial-services">Financial Services</a></li>
        </ul>
      </div>

      <div class="footer__ir footer__col">
        <h4 class="footer__heading">Investor Relations</h4>
        <ul class="footer__list">
          <li><a routerLink="/investor-relations">IR Resources</a></li>
          <li><a href="https://www.bursamalaysia.com/trade/trading_resources/listing_directory/company-profile?stock_code=0041" target="_blank" rel="noopener">Bursa Link</a></li>
        </ul>
      </div>

      <div class="footer__media footer__col">
        <h4 class="footer__heading">Media Centre</h4>
        <ul class="footer__list">
          <li><a routerLink="/media-centre/media">Media Release / Coverage</a></li>
          <li><a routerLink="/media-centre/events">Event / Happenings</a></li>
        </ul>
      </div>

      <div class="footer__hq footer__col">
        <h4 class="footer__heading">HQ &amp; Factory</h4>
        <p class="footer__address">
          Lot 5, Persiaran Selangor,<br />
          Shah Alam, Selangor,<br />
          Malaysia 40000
        </p>
      </div>
    </div>
  </div>

  <div class="footer__bar">
    <p>&copy; 2026 AIMAX Berhad. All rights reserved.</p>
  </div>
</footer>
